

html , 
body{
    height: 100%;
    position: relative;
    background: #141414;
}

h2 {
    text-align: center;   
}

h3 {
    color: #aca9a9;
}

a {
    text-decoration: none;
}

a h3:hover{
    color: #fff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signInContainer{
    background-color:  #ac4747;
   
    height: 100vh;
    color: antiquewhite;
    background-image: url("../images/backgroundnetflix1");
    image-rendering: -webkit-optimize-contrast;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content:  center;
}

.LoginContainer{
    background-color:  #c7c3c3;
   
    height: 100vh;
    color: antiquewhite;
    background-image: url("../images/backgroundnetflix1");
    image-rendering: -webkit-optimize-contrast;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content:  center;
     
}

.column{
    background: rgb(8, 8, 8 , 0.9);

    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(24, 21, 21, 0.1) 0 1px 2px;
    padding: 50px 25px;
}

.column .header{
    padding: 20px 0;   
}

.column form{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

input {
    padding-left: 15px;
    padding-right: 15px;
}

.column form input[type="text"] , 
.column form input[type="email"] ,
.column form input[type="password"] {
    background-color: dimgrey;
    font-size: 15px;
    margin: 10px 0;
    height: 35px;
    border: none;
    border-bottom: 1px solid #dedede;
    border-radius: 6px;
}

.column form input[type="submit"] {
    background-color: rgb(228, 13, 13);
    color: #fdf9f9;
    height: 36px;
    width: auto;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
} 

.column .header img {
    width: 100px;
}

::placeholder {
    color : rgb(170, 167, 167);
    opacity : 1;
}

.signInmessage{
    color: white;
    outline: none;
    text-decoration: none;
    margin-left: 40px;
}

.signInmessage:hover {
    text-decoration: underline;
}

.errorMessage{
    color: red;
    font-size: 15px;
    font-weight: 10px;
    text-align: center;
}

.previewImage, 
.previewVideo {
    width: 100%;
    height: 100%;
    max-height: 765px;
}

.previewContainer {
    position: relative;
    display: flex;
}

.previewOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.previewOverlay .mainDetails h3 {
    color: white;
    font-size: 40px;
    margin: 15px 0;
}

.previewOverlay .mainDetails {
    position: relative;
    top: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.mainDetails button {
    background-color: rgba(51, 51, 51, 0.4);
    color: #fff;
    border: none;
    min-width: 150px;
    padding: 0 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.mainDetails button:hover {
    background-color: #e6e6e6;
    color: #000;
}

.previewCategories {
    padding: 0 50px;
    background-color: black;
}

.previewCategories .category .categoryName {
    color: rgb(172, 169, 169);
    outline: none;
    text-decoration: none;
}

.previewCategories .category .categoryName:hover {
    color: white;
}

.previewContainer{
    position: relative;
    display: flex;
    background-color: black;
    
}

.previewContainer.small{
    width:  240px; 
    height: 186px; 
    margin-right: 5px; 
    padding-bottom: 10px;
    display: inline-flex;
    background-color: black;
}


.previewContainer.small img{
    width:  100%; 
    height: 100%; 
    border-radius: 5px;  
}


.category{
    display: flex;
    flex-direction: column;
}

.entities,
.videos {
    white-space: nowrap;
}

.errorBanner {
    color: white;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.season {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    background-color: black;
}

.episodeContainer {
    display: inline-flex;
    justify-content: center;

}

.episodeContainer .contents {
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 200px;
    margin-right: 4px;
   
}

.episodeContainer img {
  width:  100%;
  cursor: pointer; 
  border-radius: 6px;
}

.episodeContainer .videoInfo h4, 
.episodeContainer .videoInfo span {
    color: #fff;
    width: 100%;
    white-space: normal;
   
}

.episodeContainer .videoInfo{
    max-height: 200px;
    overflow-y: auto;

}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;       
}
     
.swiper-container {
    width: 100%;
    height: 100%;
    transition: 3s ease all;
}


.swiper-container.mySwiper .swiper-button-next,
.swiper-container.mySwiper .swiper-button-prev {
    height: 100%;
    width: calc(2% - 4px);
    top: 0%;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0.5);
}  

.swiper-container.mySwiper .swiper-button-prev{
    left:0;
    border-top-right-radius:  6px;
    border-bottom-right-radius: 6px;
}
  

.swiper-container.mySwiper .swiper-button-next{
    right:0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.swiper-container.mySwiper .swiper-button-prev::after , 
.swiper-container.mySwiper .swiper-button-next{
    color:#fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1 ease-out;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: black;

    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.swiper-slide img:hover{
    transition: 250ms all;  
    transform: scale(1.2);
    z-index: 20;
}

.swiper-slide:first-child:hover{
    margin: 0 30px;
}

.swiper-slide:last-child:hover{
 
    margin: 0 -70px;
    border-right-color: red;

}

.swiper-wrapper{
    padding: 20px 0;
}

.swiper-container.mySwiper{
    padding: 0 2.0%;
}

.previewCategories.noScroll .category .entities {
    white-space: normal;
}

.watchContainer video {
    width: 100%;
}


.videoControls {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.videoControls button {
    font-size: 50px;
    padding: 50px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.TopBar{
    position: fixed;
    width: 100%;
    z-index: 1; 
    display: flex;
    align-items: center;
    padding: 0 60px;
    height: 70px;
    box-sizing: border-box;
    min-width: 1050px;
    transition: background-color 200ms linear;
    
}





.TopBar.scrolled{
    background-color: #141414;
    transition: background-color 200ms linear;
}

.navLinks{
    display: flex;
    list-style: none;

}

.navLinks a{
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
}

.rightItems{
    text-align: right;
    flex:1;
}

.rightItems i{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.textboxContainer{
    padding: 100px 50px; 
}

.searchInput{
    height: 50px;
    width: 680px;
    border: 1px solid #dedede;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    
}


.previewContainer h1{
    color: #fff;
}